/*CSS UNIVERSAL PARA TODA A PÁGINA*/
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&family=Sigmar&display=swap');
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
  }
/*CSS DO MENU HORIZONTAL*/
header{
   width: 100%;
   height: auto;
   position: absolute;
   display: block;
}
#menu-h {
    background-color:#171ed4;
  }
#menu-h ul {
    margin-left: 20px;
    max-width: 85%;
    padding: auto;
    }
#menu-h ul li {
    display: inline;
  }
#menu-h ul li img{
    height: 100px; 
    width: 100px;
    margin-top:0;
    margin-bottom: 0;
    padding:none;
    margin-left: 0;
  }
.group { /*barra de pesquisa*/
    display: inline-block;
    line-height: 30px;
    align-items: center;
    position: relative;
    max-width: 450px;
  
   }
.input {
    width: 550px;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
    margin-left: 70px;
   }
.input::placeholder {
    color:#171ed4;
   }
.input:focus, input:hover { /*barra de pesquisa quando mouse passa*/
    outline: none;
    float: center;
    border-color:#171ed4;
    background-color: #fff;
    box-shadow: 0 0 0 4px#Fff;  
   }
.icon { /*lupa de pesquisa*/
    position: absolute;
    right: 17rem;
    fill: #171ed4;
    width: 2rem;
    height: 1rem;
    margin-bottom: 5px;
    margin-top: 12px;
   }   
#menu-h ul li a {
    font-family: 'Share Tech', sans-serif;
    font-size: 28px;
    color:#ffffff;
    padding:15px;
    margin: none;
    border-radius: 16px;
    display: inline-block;
    text-decoration:none;
    transition: background .8s;
  }
h1{ /*titulos*/
    font-family: 'Share Tech', sans-serif;
    font-size: 28px;
    color:#171ed4;
  }
h2{ /*subtitulos*/
    font-family: 'Share Tech', sans-serif;
    font-size: 20px;
    color:#171ed4;
  }
#menu-h ul li a:hover {
    background-color:#F4E0A6;
  }
#menu-h ul li:last-child a { /*botao entrar*/
   margin-top: 12px;
   margin-right: 20px;
   margin-left: 3px;
   margin-bottom: auto;
  float: right;
   background-color:#FFC955;
   color:#fff;
  }
  * {box-sizing:border-box}

/* Slideshow container */
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  width: 90%;
  height:auto;
  position: relative;
  padding-top:5%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #171ed4;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
/*banner promocional*/
.banner {
width: 100%;
height: 100%
}
.banner img{
  width: 100%;
  height: 10%;
}
.banner2 {
  width: 100%;
  height: 100px;
  }
  .banner2 img{
    width: 100%;
    height: 100%;
  }
body{
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  position:relative ;
}
/*banner promocional*/
.banner {
width: 100%;
height: 100%
}
.banner img{
  width: 100%;
  height: 100%;
}


/*FLIP CARD DE PRODUTOS*/
.row_flipcard{
  margin-top: 50px;
  padding:20px;
  background-color: #F7F2EF;
  display: flex;
}
.flip-card {
  background-color: transparent;
  width: 290px;
  height: 354px;
  perspective: 1000px;
  font-family: sans-serif;
  position: relative;
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
  margin-top: 50px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  box-shadow: 0 8px 14px 0#050A30;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid #ffffff;
  border-radius: 1rem;
}

.flip-card-front {
  background:#ffffff ;
  color:#ffffff;
}

.flip-card-back {
  background:(#171ed4 40%, );
  color: white;
  transform: rotateY(180deg);
}

/*CSS DOS CARDS DE PRODUTO*/
.card {

    float: left;
    position: relative;
    box-shadow: 0 4px 8px 0#050A30;
    max-width: 400px;
    margin-block-start: 30px;
    margin-bottom: 20px;
    margin-top: 50px;
    padding:3%;
    text-align: center;
    font-family: arial;
  }
.price { /* preço*/
    color:#F9B013;
    font-size: 32px;
  }
.card button { /*botão do card*/
    border: none;
    outline: 0;
    padding: 12px;
    color:#f8f3ee;
    background-color: #171ed4;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    width: 90%;
    font-size: 18px;
  }
.card button:hover { /*efeito mouse no botão */
    opacity: 0.4;
  }
.column { /* colunas de card*/
    float: left;
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
   
    text-align: center;   
  }
.column img{ /* imagens das colunas*/
    border-radius: 5%;
    width: 100px;
  }
.row::after {
    content: "";
    clear: both;
    display: table;
  
  }
.row2::after {
    content: "";
    clear: both;
    display: table;
  
  }

  /*CSS DO FORM*/
  .espaco{
  position: relative;
    width: 100%;
  }
  .form_container {
    margin-top: 80px;
    margin-bottom: 50px;
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 15px;
    padding: 50px 40px 20px 40px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 106px 42px #050A30,
      0px 59px 36px#050A30, 0px 26px 26px#050A30,
      0px 7px 15px #050A30, 0px 0px 0px #050A30;
            box-shadow: 0px 106px 42px #050A30,
      0px 59px 36px #050A30, 0px 26px 26px #050A30,
      0px 7px 15px #050A30, 0px 0px 0px #050A30;
    border-radius: 11px;
    font-family: "Inter", sans-serif;
    position: relative;
  }
  
  .logo_container {
    margin-bottom:50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100px;
    height: 80px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(248, 248, 248, 0)), to(#171ed4));
    background: #F7F2EF;
    border: 1px solid #F7F7F8;
    -webkit-filter: drop-shadow(0px 0.5px 0.5px #EFEFEF) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
            filter: drop-shadow(0px 0.5px 0.5px #EFEFEF) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
    border-radius: 11px;
  }
  .logo_container img{
    width: 100px;
    height: 100px;
    position: relative;
  }
  
  .title_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
  }
  
  .title {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 700;
    color: #050A30;
  }
  
  .subtitle {
    font-size: 0.725rem;
    max-width: 80%;
    text-align: center;
    line-height: 1.1rem;
    color: #171ed4;
  }
  
  .input_container {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5px;
  }
  
  .icon {
    width: 20px;
    position: absolute;
    z-index: 99;
    left: 12px;
    bottom: 9px;
  }
  
  .input_label {
    font-size: 0.75rem;
    color: #171ed4;
    font-weight: 600;
  }
  
  .input_field {
    width: auto;
    height: 40px;
    padding: 0 0 0 40px;
    border-radius: 7px;
    outline: none;
    border: 1px solid #e5e5e5;
    -webkit-filter: drop-shadow(0px 1px 0px #efefef)
      drop-shadow(#D7F0D3);
            filter: drop-shadow(0px 1px 0px #efefef)
      drop-shadow(#D7F0D3);
    -webkit-transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  }
  
  .input_field:focus {
    border: 1px solid transparent;
    -webkit-box-shadow: 0px 0px 0px 2px #171ed4;
            box-shadow: 0px 0px 0px 2px #171ed4;
    background-color: transparent;
  }
  
  .sign-in_btn {
    width: 100%;
    height: 40px;
    border: 0;
    background: #F0D5C4;
    border-radius: 7px;
    outline: none;
    color: #ffffff;
    cursor: pointer;
  }
  
  .sign-in_ggl {
    width: 100%;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
    background: #ffffff;
    border-radius: 7px;
    outline: none;
    color: #171ed4;
    border: 1px solid #e5e5e5;
    -webkit-filter: drop-shadow(0px 1px 0px #efefef)
      drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
            filter: drop-shadow(0px 1px 0px #efefef)
      drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
    cursor: pointer;
  }
  
  .sign-in_apl {
    width: 100%;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap:200px;
    background: #050A30;
    border-radius: 7px;
    outline: none;
    color: #ffffff;
    border: 1px solid #e5e5e5;
    -webkit-filter: drop-shadow(0px 1px 0px #efefef)
      drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
            filter: drop-shadow(0px 1px 0px #efefef)
      drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
    cursor: pointer;
  }
  
  .separator {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
    color: #171ed4;
  }
  
  .separator .line {
    display: block;
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #e8e8e8;
  }
  
  .note {
    font-size: 0.75rem;
    color: #D7F0D3;
    text-decoration: underline;
  }

  /*card de aprosentação - pag sobre*/
  .espaco{
    position: relative;
      width: 100%;
    }
  .card_sobre {
    position: -webkit-sticky;
    margin-bottom:50px;
    margin-top:110px;
    width: 400px;
    height: 700px;
    gap: 10px;
    background:#fff0e7;
    transition: 1s ease-in-out;
    clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
  }
  .espaco{
    margin-top: 300px;
    position: relative;
  }
  .card_sobre span {
    font-weight: bold;
    font-family: 'Share Tech', sans-serif;
    color:#050A30;
    text-align: center;
    display: block;
    font-size: 2em;
  }
  
  .card_sobre .info {
    font-weight: 600;
    color:#D7F0D3;
    display: block;
    text-align: center;
    font-size: 1.2em;
    margin: 2em;
  }
  
  .card_sobre img {
    margin-bottom:5px;
    margin-top:50px;
    width: 150px;
    height: 150px;
    border-radius: 15px;
   
  }
  
  .card_sobre .share {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    gap: 1em;
  }
  
  .card_sobre a {
    color:#050A30;
    transition: .4s ease-in-out;
  }
  
  .card_sobre a:hover {
    color: #050A30;
  }
  
  .card_sobre button {
    padding: 0.8em 1.7em;
    display: block;
    margin: auto;
    border-radius: 25px;
    border: none;
    font-weight: bold;
    background: #ffffff;
    color:#171ed4;
    transition: .4s ease-in-out;
  }
  
  .card_sobre button:hover {
    background: #FCEC94;
    color: white;
    cursor: pointer;
  }
  
/* Inicio do rodapé */
footer {
  background: #F7F2EF ;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  bottom: 0;
}
footer img{ /* logo no footer*/
  margin-top: 5px;
  margin-left: 730px;
  float:center;
  padding:auto;
  height: 20%;
  width: 20%;
  bottom: 0%;
}
footer p{ /* escrita footer*/
  margin-top: 40px;
  margin-right: 820PX;
  float:right;
  width: auto; 
  bottom: 0%;
}
/* fim do rodapé */